@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: theme('colors.dh-gray-300');
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: theme(colors.gray.500);
  }
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: theme('colors.gray.800');
  color: theme('colors.gray.200')
}

input, button, textarea {
  outline: none;
}


input, textarea {
  padding: 0.2rem;
}
